* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  /* background: radial-gradient(
      circle at 74.2% 50.9%,
      rgb(14, 72, 222) 5.2%,
      rgb(3, 22, 65) 75.3%
    ); */
  background-color: #e4e9ef;
}

nav {
  /* background-color: rgba(5, 4, 4, 0.945); */
  /* background-color: #E4E9EF; */
  background-color: #9bb;
  background-color: #31465a;
  background-color: #09121af0;
  z-index: 2;
  top: 0%;
  position: sticky;
  margin: 0;
  width: 100%;
  height: 10vh;
  cursor: pointer;
}

.page1 {
  height: 89vh;
  width: 100%;
  /* background: radial-gradient(
      circle at 74.2% 50.9%,
      rgb(14, 72, 222) 5.2%,
      rgb(3, 22, 65) 75.3%
    ); */
  /* background: #334eac; */
  background-color: #e4e9ef;
  /* background-color: #b4c5e4; */
}
.menu {
  transform: scale(1);
  top: 14%;
  right: 4%;
  position: absolute;
  width: 2.6rem;
  cursor: pointer;
}
.menu:hover{
  transform: scale(0.9);
}

.git {
  transform: scale(1);
  width: 2.5rem;
  margin: 2% 5%;
  transition: all 0.25s;
}

.git:hover {
  transform: scale(0.9) rotateY(360deg);
  transition: all 0.6s;

}
.pfpbox {
  height: 50vh;

  width: 99%;
}
.pfp {
  top: 24%;
  border-radius: 9rem;
  position: absolute;
  width: 11rem;
  left: 27%;
  transform: scale(1);
}
.pfpbg {
  left: 14%;
  top: 17%;
  position: absolute;
  width: 17rem;
  /* position: relative;
    top: 28px;
    left: 6%; */
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.815));
  animation: rotatey 60s ease-in-out infinite;

}
@keyframes rotatey {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) ;
  }
}

.heading {
  width: 100%;
  position: relative;
  top: 5%;
}
.head {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #61758e;
}
.aboutme {
  /* #doe3ff */
  padding: 0.5rem;
  text-align: center;

  color: #09121af0;

  font-weight: bold;
  font-size: 1.2rem;
}
.heading button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  background: black;
  height: 4vh;
  width: 25%;
  text-align: center;
  color: white;
  text-transform: capitalize;
  margin: 2% 35%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  transform: scale(1);
  /* transition: all .2s ease-out; */
}
.heading button:hover {
  background: #31465a;
  transform: scale(0.8);
  transition: all 0.2s ease-out;
}
.hi {
  /* text-shadow:; */
  color: #09121af0;
}
.santoshi {
  font-style: italic;
  /* color: #f7f2eb;
    color: #4c545e; */
  color: #09121af0;
}
/* .pfpbox img:hover{
    trasn
  } */
.break {
  width: 100%;
  height: 2vh;
  background-color: black;
}

.page2 {
  scrollbar-width: none;
  overflow: scroll;
  gap: 7%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: grid;
  padding: 20% 1%;
  background-position: center;
  background-size: cover;
  height: 87vh;
  width: 98%;
  background-color: black;
  background: url(bg2-2.PNG);
}
.page2 h1{
  color: white;
  font-family: roboto;
  text-align: center;
  text-transform: uppercase;
}

.pgbox {
  /* align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex; */
  padding: 2px;
  height: 30vh;
  width: 47vw;
  border-radius: 1rem;
  background: #e4e9ef;
  transition: all 0.5s;
}
.pgbox:hover {
  height: 50vh;
}
.pgbox img {
  margin: 1% 4%;
  border-radius: 1rem;
  width: 10rem;
  transition: 0.5s;
  filter: blur(25px);
}
.pgbox:hover img {
  margin: 3% 4%;
  filter: blur(0px);
}
.pgbox:hover .info {
  visibility: visible;
  transition: all 0.3s ease-in;
}

.infobox p {
  text-align: center;
}
.pgbox h3 {
  font-weight: 600;

  font-family: roboto;
  text-align: center;
  text-transform: uppercase;
}
.info {  font-family: roboto;
  visibility: hidden;
  margin: 2%;
  font-weight: 600;
  font-family: robito;
}

.web {
  display: block;
  width: 47vw;
  text-decoration: none;
  color: black;
}

.pg3 {
  background-color:black;
  height: 30vh;
  display: flex;
  width: 100%;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.pg3 h2{
  transform: rotatex(18deg) rotateY(1deg) rotateZ(-90deg);
  z-index: 3;
  left: -6%;
  position: absolute;
  color: black;
  text-transform: uppercase;
  font-family: roboto;
}

.social  {z-index: 2;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  justify-content: center;
  align-items: center;

}
.social img {
  width: 3rem;
transform: scale(1);
}
.social img:hover{
  border-radius: 3rem;
transform: scale(.9);
background-color:#61758eb1;
transition: all .3s;
}
.back{
  z-index: 0;
  background:#e4e9ef;
  left: 0%;
  border-radius: 0em 1em 1em 0em;
  position: absolute;
  width: 88%;
  height: 22vh;
}
.list{
  visibility:hidden;
  background: black;
    top: 0%;
    padding: 5rem;
    z-index: 2;
    position: absolute;
    border: 2px solid black;
    height: 75vh;
    width: 56.5vw;
}

.close{

  width: 2.6rem;
  top: 3%;
  right: 4%;
  cursor: pointer;
  position: absolute;
}
.list h2{color:firebrick ;
  text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}
.menu1{z-index: 0;
  left: 0%;
  top: 35%;
  position: absolute;
  /* background: blue; */
  width: 100%;

  border: 2px solid rgba(91, 87, 87, 0.354);

}
.menu2{
  z-index: 0;
  right: 0%;
  top: 49%;
  position: absolute;
  /* background: blue; */
  width: 100%;

  border: 2px solid rgba(91, 87, 87, 0.354);
}
.menu3{
  z-index: 0;
  left: 0%;
  top: 63%;
  position: absolute;
  /* background: blue; */
  width: 100%;

  border: 2px solid rgba(91, 87, 87, 0.354);
}
.list ul li div{
  margin: .2rem 0rem;
  width: 0vw;
  height: 0.2vh;
  background-color: white;
transition: all 0.3s;
}

.list ul li:hover div{
  width: 20vw;
}
.list ul li{
  cursor: pointer;
  color: white;
  text-transform: capitalize;
  font-family: dancing script;
  font-size: 1.5rem;
  flex-direction: column;
  display: flex
;
  list-style: none;
  font-weight: bold;
  margin: 4rem 4rem;
}

@media (min-width: 376px) and (max-width: 486px) {
  .pfp {
    top: 30%;
  }
  .pfpbg {
    left: 16%;
    top: 25%;
  }
  .pgbox {
    height: 21vh;
  }
  .list{
    height: 81vh;
    width: 61vw;
  }
  .menu1{
    top: 27%;
  }
  .menu2{
    top: 38%;
  }
  .menu{
    top: 49%;
  }
}
@media (min-width: 769px) and (max-width: 1279px) {
 .page2{
  display: grid
;
gap: 17%;
        grid-column: 1fr 1fr;
  padding:2%;
  height: 90vh;
  width: 96%;
  background: url(bg2.jpg);}
  .pfpbg {
    left: 12%;
    top: 22%;
    position: absolute;
    width: 20rem;
  }
  .pfp {
    top: 13rem;
    border-radius: 9rem;
    position: absolute;
    width: 11rem;
    left: 12em;
  }
  .heading {
    position: absolute;
    width: 52%;
    left: 47%;
    top: 41%;
  }
  .page2 h1{
    grid-row: 1;
     font-size: 2.5rem;
   }
   .p1{
     grid-column: 1;
   }
 
   .p2{
     grid-column: 2;
   }
   .pgbox{
     height: 32vh;
     width: 29vw;
   }
   .pgbox img{
     margin: 1% 23%;
   }
   .pgbox:hover img{
     margin: 3% 24%;
   } 
   .web{
     width: 29vw;
   }
 
   .back {
     z-index: 0;
     background: #e4e9ef;
     left: 0%;
     border-radius: 0em 1em 1em 0em;
     position: absolute;
     width: 52%;
     height: 26vh;
 }.pg3 h2{
   
   left: 17%;
 }
 .social{
   left: 28%;
 }
 .list{
   width: 84vw;
 }
 .list h2{
   font-size: 2.3rem;
 }
 .list ul{
   display: 
   flex;
   justify-content: center
   ;
   align-items: center;
   flex-direction: column;
   height: 72vh;
   width: 100%;
 }
 .list ul li{
   font-size: 1.9rem;
   margin: 2rem 4rem;
 }
 .menu1{
   top: 45%;
 }
 .menu2{
   top: 62%;
 }
 .menu3{
   top: 78%;
 }
}
@media (min-width: 1280px) {
  .pfpbg {
    left: 18%;
    top: 25%;
    position: absolute;
    width: 20rem;
  }
  .pfp {
    top: 34%;
    border-radius: 9rem;
    position: absolute;
    width: 11rem;
    left: 24%;
  }
  .heading {
    left: 48%;
    width: 44%;
    position: absolute;
    top: 38%;
 
  }
  .page2{
    display: grid
  ;
  gap: 17%;
          grid-column: 1fr 1fr;
    padding:2%;
    height: 90vh;
    width: 96%;
    background: url(bg2.jpg);}
    .page2 h1{
      grid-row: 1;
       font-size: 2.5rem;
     }
     .p1{
       grid-column: 1;
     }
   
     .p2{
       grid-column: 2;
     }
     .pgbox{
       height: 32vh;
       width: 29vw;
     }
     .pgbox img{
       margin: 1% 23%;
     }
     .pgbox:hover img{
       margin: 3% 24%;
     } 
     .web{
       width: 29vw;
     }
   
     .back {
       z-index: 0;
       background: #e4e9ef;
       left: 0%;
       border-radius: 0em 1em 1em 0em;
       position: absolute;
       width: 52%;
       height: 26vh;
   }.pg3 h2{
     
     left: 17%;
   }
   .social{
     left: 28%;
   }
   .list{
     width: 84vw;
   }
   .list h2{
     font-size: 2.3rem;
   }
   .list ul{
     display: 
     flex;
     justify-content: center
     ;
     align-items: center;
     flex-direction: column;
     height: 72vh;
     width: 100%;
   }
   .list ul li{
     font-size: 1.9rem;
     margin: 2rem 4rem;
   }
   .menu1{
     top: 45%;
   }
   .menu2{
     top: 62%;
   }
   .menu3{
     top: 78%;
   }
}
